.howCards-parent{
    /* background: linear-gradient(135deg, #2b1f6d, #e91e63); */
    padding: 5rem;
    color: #e3e1e7;
}

.howCard {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: linear-gradient(135deg, #2c1152, #381b5e);
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.steps {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.step {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    
}
.step-img-container{
    background-color: #6816b0;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:1rem;

}
.step img {
    max-width: 3.5rem;

}

.step p {
    font-size: 16px;
}

.bottom-text {
    margin-top: 20px;
    font-style: italic;
}