/* Slider.css */
.carousel-container {
  /* background: linear-gradient(135deg, #2b1f6d, #e91e63); */
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  flex: 0 0 250px;
  height: 300px;
  margin: 10px;
  /* background-color: #f0f0f0; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  /* border: 1px solid #ccc; */
}

.scroll-button {
  position: absolute;
  top: 50%;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
